
<br>
<h1>Inscripcions</h1>
<h3>2017-2018</h3>
<br>
<div id="colors">
    <div style="background-color:#46A033" class="dvcolors"></div>
    <div style="background-color:#78B82A" class="dvcolors"></div>
    <div style="background-color:#EC6223" class="dvcolors"></div>
    <div style="background-color:#B9D5D7" class="dvcolors"></div>
    <div style="background-color:#59B5C7" class="dvcolors"></div>
    <div style="background-color:#D0C7A6" class="dvcolors"></div>
    <div style="background-color:#C84738" class="dvcolors"></div>
    <div style="background-color:#EF7A8E" class="dvcolors"></div>
    <div style="background-color:#474048" class="dvcolors"></div>
    <div style="background-color:#BAD5D7" class="dvcolors"></div>
    <div style="background-color:#46A033" class="dvcolors"></div>
    <div style="background-color:#78B82A" class="dvcolors"></div>
    <div style="background-color:#EC6223" class="dvcolors"></div>
    <div style="background-color:#B9D5D7" class="dvcolors"></div>
    <div style="background-color:#59B5C7" class="dvcolors"></div>
    <div style="background-color:#D0C7A6" class="dvcolors"></div>
    <div style="background-color:#C84738" class="dvcolors"></div>
   <div style="background-color:#474048" class="dvcolors"></div>

</div>
<br>


<formulari></formulari>